$Popins: "Poppins", sans-serif;
$Nunito: "Nunito", sans-serif;
$Roboto: "Roboto", sans-serif;
$Open-sans: "Open Sans", sans-serif;
$bg-separator: #484644;
$bg-primary: #252423;
$bg-secondary: #11100f;
$blue-theme: #78bafd;
$bg-active: #3b3a39;
