@import '../../vars';

.sidebar {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 300px;
  background-color: $bg-primary;
  font-family: $Roboto;
  font-weight: 400;
  line-height: 2;
  transition: background-color 1s, color 1s;

  &__header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    height: 48px;
    margin-top: 13px;
    padding: 0 24px;
    &__btn {
      border: none;
      background: none;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.1s;
      padding: 0;
    }
  }

  &__content {
    &__btn {
      border: none;
      background: none;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.1s;
      padding-top: 20px;
      padding-left: 20px;
    }
    &__nav {
      &__list {
        padding: 0;

        &__item {
          display: flex;
          position: relative;
          cursor: pointer;
          width: 100%;
          font-size: 1.5rem;
        }
        &__item:hover {
          background-color: #323130;
        }
      }
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    padding: 12px 24px 12px 24px;

    &__count {
      margin-left: auto;
    }
    &__title {
      margin-left: 16px;
    }
  }
}

.active {
  background: $bg-active !important;
}
.active::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #2564cf;
  height: 100%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: expand 0.25s forwards;
}
